/* ------------------------------------------------------------------------------menu active*/

.box-menu {
    height: var(--height--menu);
    position: fixed;
    top: 0;
    width: calc(100% - var(--width--sidebar)) !important;
    z-index: 9;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px 0 25px;
    border-bottom: 1px solid;
}

.box-logo img {
    padding-right: 15px;
}

.box-logo {
    display: none;
}

.box-control {
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.box-title-page {
    width: auto;
}

.box-search-menu-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 10px;
}

.box-search-menu-bar .form-control.form-search {
    height: 39px;
    width: 268px;
    border-radius: 32px;
    border-color: transparent !important;
    box-shadow: 0 2px 3px rgb(0 0 0 / 4%) !important;
    padding-left: 39px;
}

.box-search-menu-bar .btn-search {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
}

.show-box-search {
    color: var(--color--second--hsl--3);
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-show-box-search {
    display: none;
}

.box-search-menu-bar .btn-search:hover {
    color: #38C786;
    transition: 0.4s;
}


/* box-icon */

.box-icon-menu {
    display: flex;
    position: relative;
    justify-content: right;
}

.icon-menu {
    font-size: 20px;
    padding: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.icon-menu .avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;
}

.icon-menu .avatar::before {
    content: '';
    width: 39px;
    height: 39px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #ffffff40; */
    z-index: -1 !important;
}

.icon-menu .avatar .img-user {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
}

.icon-menu .name-user {
    font-weight: 500;
    font-size: 13px;
    padding-left: 10px;
    text-transform: uppercase;
    /* background-color: #ffe4c485; */
    padding: 2px 7px;
    margin-left: 10px;
    border-radius: 3px;
}


/* avatar khi dùng thẻ img */


/* 
.icon-menu .avatar-user img {
    height: 39px;
    width: 39px;
    overflow: hidden;
    padding: 3px;
    border-radius: 50%;
    background-color: #ffffff40
} */

.icon-menu .notification-bell {
    font-size: 10px;
    width: 18px;
    height: 18px;
    background-color: brown;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    right: -2px;
}


/* box-information */

.box-information,
.box-notification {
    position: absolute;
    top: calc(100% + 15px);
    right: 10px;
    height: auto;
    width: 239px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    display: none;
}

.box-information.show,
.box-notification.show {
    display: block;
}

.box-information .box-img-information {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-information .box-img-information .img-user-information {
    width: 86px;
    height: 86px;
    border-radius: 50%;
}

.box-information .information-name {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.box-information ul.quick-link-control {
    margin-top: 15px;
    border-top: 1px solid #808080b8;
}

.box-information ul.quick-link-control li {
    padding: 5px 10px 5px 10px !important;
    /* background-color: azure; */
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.box-information ul.quick-link-control li i {
    font-size: 17px;
    margin-right: 5px;
    width: 25px;
    text-align: center;
}

.box-information .logout {
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    transition: 0.4s;
}


/* -------------------------------------------------------------------------------- sidebar ACTIVE */

.box-sidebar.active {
    position: fixed;
    height: 100vh;
    overflow: scroll;
    width: var(--width--sidebar);
    z-index: 99;
    padding-bottom: 68px;
}


/* show sidebar */

.box-sidebar.active.show-sidebar-basic {
    left: 0% !important;
}

.active .sidebar-top {
    height: var( --height--sidebar-top);
    position: relative;
}

.active .sidebar-logo {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.active .sidebar-logo img {
    height: 20px;
}

.active .sidebar-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;
    color: white;
    font-weight: 600;
}

.active .sidebar-button:hover {
    color: #eff102;
}

.active .sidebar-category-title {
    padding-left: 10px;
    font-size: 14px;
    text-transform: unset;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 5px;
}

.active .sidebar-link {
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    border-top: 1px solid transparent;
    /* border-bottom: 1px solid transparent; */
    font-size: 14px;
}

.active .sidebar-link .notification {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    font-weight: 500;
    width: 19px;
    border-radius: 50%;
    height: 19px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active .sidebar-link .icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(0deg);
    font-size: 15px;
    transition: 0.4s;
}

.active .sidebar-link .selected .icon-dropdown {
    transform: translateY(-50%) rotate(180deg);
    transition: 0.4s;
}

.active .scroll_title {
    position: relative;
    padding: 9px 0 9px 10px;
}

.basic-theme .active .scroll_content {
    display: none;
}


/* fix */

.active .link-scroll {
    width: 100%;
    transition: 0.4s;
    padding: 9px 0 9px 9px;
    border-top: 1px solid #fcfcff1c;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.active .icon-link-dropdown {
    font-size: 7px;
    padding-right: 5px;
}

.basic-theme.active .link-scroll {
    padding-left: 31px;
}


/* setting menu-content-footer khi active */

.active.sidebar-menu-setting {
    padding-left: calc( var(--width--sidebar)) !important;
}

.active.box-content-footer {
    padding-left: calc( var(--width--sidebar));
    padding-top: 68px;
}

.active .box-content-footer .view-include {
    padding-top: 15px;
    width: calc(100vmax - var(--width--sidebar));
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 68px;
}


/* end setting menu-content-footer khi active */

.active .product-highlight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.active .product-highlight>a,
.active .product-highlight>p {
    color: var(--color--second--hsl--3);
    text-align: center;
}


/* -----------------------------------------------------------------------------Responsive theme basic */

@media (min-width:320px) and (max-width:543px) {
    .icon-menu .avatar {
        display: none;
    }
    /* ẩn title page */
    .active .box-title-page {
        display: none;
    }
    /* setting lại position form search */
    .active .box-search-menu-bar {
        position: fixed !important;
        top: 68px !important;
        width: 100% !important;
    }
    .active .box-menu .box-search-menu-bar .form-control.form-search {
        width: 100% !important;
    }
}

@media (min-width:320px) and (max-width:767px) {
    /* hiển thị icon show */
    .active .icon-show-box-search {
        display: block;
        margin-right: 10px;
    }
    /* form search */
    .active .box-search-menu-bar {
        position: absolute;
        top: 0px;
        right: 0;
        height: auto;
        padding: 15px !important;
        border-radius: 5px;
        display: none;
    }
    /* class show form search */
    .active .box-search-menu-bar.show-form-search {
        display: block;
        top: 50px;
    }
}

@media (min-width:320px) and (max-width:991px) {
    /* ẩn sidebar */
    .box-sidebar.active {
        left: -100%;
        top: var(--height--menu);
        transition: 0.4s;
    }
    /* hiển thị nút button */
    .active .button-change-sidebar {
        display: block !important;
        color: white;
        font-size: 19px;
        padding-right: 15px;
        cursor: pointer;
    }
    /* ẩn nút button ở sidebar khi mặc định */
    .active .sidebar-button {
        display: none;
    }
    .active.box-content-footer .view-include {
        padding-left: 15px;
        padding-right: 15px;
        width: 100% !important;
    }
    /* setting box-menu */
    .active.sidebar-menu-setting {
        padding-left: 0px !important;
    }
    .active .box-menu {
        padding-right: 30px;
        width: 100% !important;
    }
    /* setting box content footer */
    .active.box-content-footer {
        padding-left: 0px;
    }
}


/* @media (min-width:320px) and (max-width:543px) {}

@media (min-width:544px) and (max-width:767px) {}

@media (min-width:768px) and (max-width:991px) {}

@media (min-width:992px) and (max-width:1360px) {}

@media (min-width:1361px) and (max-width:1500px) {
    
}

@media (min-width:1501px) and (max-width:1920px) {}


/* setting sự xuất hiện của menu */


/* 
@media (max-width:1025px) {}

@media (min-width:1026px) {}  */