<div class="row">
    <div class="col-12 w3-animate-top">
        <!-- box add -->
        <div class="box-action">

            <form novalidate name="form_add" class="form-add card-basic">
                <!-- button close -->
                <div class="button-close-box-action" onclick="document.getElementById('posts-add').style.display='none'">
                    <i class="fa-thin fa-xmark" style="font-size: 17px;"></i>
                </div>
                <!-- End button close -->
                <div class="box-input-form-add">
                    <div class="block-add-left">
                        <!-- 01. label Name -->
                        <div class="form-group">
                            <label class="text-highlight-2 weight-500" for="exampleInputEmail1">Posts name</label>
                            <div class="relative">
                                <input type="text" ng-model="posts.name" class="form-control" placeholder="Enter posts" name="input_posts" required>

                                <!-- validation -->
                                <!-- Không hợp lệ- Invalid -->
                                <div class="margin-t-5">
                                    <small class=" valid-icon" ng-show="form_add.input_posts.$invalid"><i class="fas fa-times-circle padding-r-5"></i></small>

                                    <small class="" ng-show="form_add.input_posts.$error.required">Vui lòng nhập dữ liệu !</small>
                                </div>

                                <!-- Hợp lệ - Valid-->
                                <small class="form-text text-color-basic-cyan valid-icon" ng-show="form_add.input_posts  .$valid"><i class="fas fa-check-circle"></i></small>

                                <!-- end validation -->
                            </div>

                        </div>
                        <!-- 01. End label Name -->
                        <!--02. Label tags-->
                        <div class="mb-3 mt-3">
                            <label class="form-label text-highlight-2 weight-500">Posts tags :</label> <br>


                            <input type="text" ng-model="posts.tags" data-role="tagsinput" class="form-control" placeholder="Enter tags" name="data_tags" required>
                            <!-- validation -->
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>

                            <!-- end validation -->

                        </div>
                        <!-- 02. End label tags -->
                        <!-- 03. Label category -->
                        <div class="margin-b-15" ng-init="getDataViewAddUpdate(page_data)">
                            <label class="text-highlight-2 weight-500" for="exampleInputPassword1">Category:</label>

                            <select class="form-control" ng-model="menu.value_selected" required>
                    
                    <option value="" disabled selected>---Choose your option---</option>
                    <option ng-repeat="one_data in data_view_add_update" value="{{one_data.id}}">{{one_data.name}}</option>
                   
                </select>


                        </div>
                        <!-- 03. End label category -->


                        <!-- 05. Label image -->
                        <div class="">
                            <label class="text-highlight-2 weight-500">Hình ảnh:</label>
                            <!-- <input type='file' name='source_file' ng-file="uploadfiles"> -->
                            <div>
                                <input style="height: 42px;" class="form-control" type="file" name='source_file' ng-file="uploadfiles" accept="image/*" onchange="loadFile(event)">
                            </div>
                            <div class="flex">

                                <div class="margin-t-30 " style="width: 100%; display: flex; justify-content: center; align-items: center;">

                                    <img class="w3-card-2 round-medium" width="239px" id="output" />
                                </div>

                            </div>
                        </div>
                        <!--  05. End label image -->
                    </div>
                    <div class="block-add-right">
                        <!-- 06. Content -->
                        <div class="mb-3 mt-3">
                            <label class="form-label text-highlight-2 weight-500">Content:</label>
                            <div class="col-sm-12 reset-col" style="border-radius: 8px;overflow: hidden;">
                                <textarea ck-editor ng-model="posts.description" cols="1" rows="1" required></textarea>
                            </div>
                        </div>

                        <!-- 06. End content -->


                    </div>
                </div>
                <!-- Phần button -->
                <div class="box-button-form-add-posts">
                    <button type="button" ng-disabled="form_add.$invalid" ng-model="page_function" ng-init="page_function='posts_add'" ng-click="upload(one_data,page_data,page_function)" class="btn btn-primary card-inline-highlight-1 text-highlight-2 weight-500"><i class="fas fa-plus-circle"></i> Add</button>

                    <button type="reset" id="button_reset_img" ng-click="button_reset_img()" class="btn card-inline-normal "><i class="fas fa-backspace text-highlight-2 weight-500"></i> Reset</button>

                    <button onclick="document.getElementById('posts-add').style.display='none'" type="button" class="btn btn-primary card-inline-normal text-color-support-1"><i class="fa-sharp fa-light fa-power-off"></i> Close</button>
                </div>
                <!-- End button -->




            </form>
        </div>
        <!-- end view add menu -->
        <!-- end box add -->
    </div>
</div>