/* page : preview-order */

.button-note-order,
.button-edit-order,
.button-cancel-order {
    width: 100%;
    margin: 5px 0 5px 0;
}

.button-note-order button,
.button-edit-order button,
.button-cancel-order button {
    width: 100%;
}


/* Trang category */

.box-button-form-add-category {
    position: absolute;
    top: 299px;
    left: 15px;
}

@media (min-width:320px) and (max-width:767px) {
    .box-button-form-add-category {
        top: auto;
        left: 15px;
        bottom: 15px;
    }
}


/* End trang category */


/* Trang posts */

.box-button-form-add-posts {
    position: absolute;
    top: 379px;
    left: 15px;
}

@media (min-width:320px) and (max-width:767px) {
    .box-button-form-add-posts {
        top: auto;
        left: 15px;
        bottom: 15px;
    }
}


/* End trang posts */


/* Trang product */

.box-button-form-add-product {
    position: absolute;
    top: 379px;
    left: 15px;
}

@media (min-width:320px) and (max-width:767px) {
    .box-button-form-add-product {
        top: auto;
        left: 15px;
        bottom: 15px;
    }
}


/* End trang product */


/* Trang comment */

.comment-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* End trang comment */


/* Trang baner */

.baner-content {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-action.page-add-baner {
    padding: 60px 300px 200px 300px !important;
}

@media (min-width:320px) and (max-width:767px) {
    .box-action.page-add-baner {
        padding: 60px 0px 200px 0px !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .box-action.page-add-baner {
        padding: 60px 200px 200px 200px !important;
    }
}


/* End trang baner */


/* trang setting layout */

.box-theme {
    display: flex;
    flex-wrap: wrap
}

.box-theme .element-theme {
    width: 33.33%;
}

@media (min-width:320px) and (max-width:668px) {
    .box-theme .element-theme {
        width: 100%;
    }
}


/* End trang setting layout */